<h1>Modifier le post</h1>

<%= render "form", post: @post %>

<br>

<div>
    <button class="btn btn-blue">
      <%= link_to "Voir le post", @post ,class: "a a-white" %>
      <br/>
    </button>
  <%= link_to "Retour aux posts", posts_path %>
</div>
