
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
  FLOW
  </a>
</nav>

<h1>Posts</h1>

<%= link_to "Nouveau post", new_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <p style="font-weight: bold">Picture: </p>
      <%= image_tag(post.picture, class: 'img-fluid') %>
    <br/>
     <p style="font-weight: bold">Description:</p>
    <%= post.description %>
    <p>
    <div class="btn btn-dark">
      <%= link_to "Show this post", post %>
    </div>
    </p>
  <% end %>
</div>


