/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $enable-gradients: true;

 @import "bootstrap";

 @import 'mdb-ui-kit/css/mdb.min.css';

 // Déclaration couleur

 $gradient:linear-gradient(90deg, #4cb9f4 0%, #96f3ff 100%);


 $theme-colors: (
  "primary":    $primary,);

// Fin 

 *{
     font-family: Arial, Helvetica, sans-serif;
    
 }

 .square-shadow{
   border-radius: 5px;
   margin: 3% 5%;
   padding: 5%;
   height: 90%;
   width: 90%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .a{
    color :#4DBAF4  ;
    text-decoration: none;
  }

  .a-title{
   font-size: 30px;
   margin-top: 10%;
  }

  .a-title:hover{
   color: #4cb9f4;
  }

  .a-white{
   color: white;
   transition: all 0.3s ease-in-out;
  }

  .a-white:hover{
   color: 	#4682B4;
  }

  .a-logout{
     margin-top: 5%;
  }
  .text-grey{
     color: gray;
  }

.btn-title{
   background-color: none;
   border: 2px solid #4cb9f4;
   margin-bottom: 5%;
   transition: all 0.3s ease-in-out;
}

.btn-title:hover{
   background-color: #4cb9f42d;

}

.btn-blue{
   background-color: #4cb9f4;
}

.btn-pink{
   background-color: #FF7D97;
   margin-bottom: 10%;
}
.bg-black{
   background-color: black;
}
 .img-fluid{
    max-width: 500px;
    object-fit: cover;
 }

.title-site{
   color: #4CB9F4;
   font-weight: bold;
   letter-spacing: 5px;
   font-size: 40px;
   margin-left: 3%;
}

