$enable-gradients: true;

@import "bootstrap";

// General - Text - Button - Input - Label - Footer 

*{
  font-family: Arial, Helvetica, sans-serif;
}

.bg-black{
  background-color: black;
}

h2{
  color:  #4CB9F4;
}

.text-grey{
  color: gray;
}

input{
  border: none;
  border-bottom: 2px solid #4cb9f4;
  margin-bottom: 2%;
}

.actions>input{
  border: none;
  border-bottom: 0px none ;
  border-radius: 3px;
  background-color: #FF7D97;
  padding: 1% 1%;
}

.actions{
  margin-top: 2%;
  margin-bottom: 2%;
}

button>input{
  border: none;
  border-bottom: 0px none ;
  border-radius: 3px;
}

.flow-footer{
  color: #4CB9F4;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  margin-left: 3%;
}

// Index div

.div-total{
  display: flex;
}

.div-left{
  margin-left: 25%;
  padding-left: 5%;
  border-left: solid #DCDCDC 1px;
}

.square-shadow{
  border-radius: 5px;
  margin: 3% 5%;
  padding: 5%;
  height: 90%;
  width: 90%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 950px) {

  .div-total{
    display: block;
  }

  .div-left{
    margin-left:0%;
    padding-left: 0%;
    border-left: none transparent 0px;
  }
  
}

// Button 

.a{
  color :#4DBAF4  ;
  text-decoration: none;
}

.a-title{
  font-size: 30px;
  margin-top: 10%;
}

.a-title:hover{
  color: #4cb9f4;
}

.a-white{
  color: white;
  transition: all 0.3s ease-in-out;
}

.a-white:hover{
  color: 	#4682B4;
}

.a-logout:hover{
    color:#c02645;   
}

.btn-title{
   background-color: none;
   border: 2px solid #4cb9f4;
   margin-bottom: 5%;
   transition: all 0.3s ease-in-out;
}

.btn-title:hover{
   background-color: #4cb9f42d;
}

.btn-blue{
   background-color: #4cb9f4;
}

.btn-pink{
   background-color: #FF7D97;
   margin-bottom: 10%
}

.btn-round{
  border-radius: 3px;
  border: none;
}

// Image 

.img-fluid{
  max-width: 400px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .img-fluid{
    max-width: 290px;
  }
}


