$enable-gradients: true;

@import "bootstrap";

// General

*{
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  color:  #4CB9F4;
}

.text-grey{
  color: gray;
}

.bg-black{
   background-color: black;
}

.flow-footer{
  color: #4CB9F4;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 40px;
  margin-left: 3%;
}

// Index div

.div-total{
  display: flex;
}

.div-left{
  margin-left: 25%;
  padding-left: 5%;
  border-left: solid #DCDCDC 1px;
}

.square-shadow{
  border-radius: 5px;
  margin: 3% 5%;
  padding: 5%;
  height: 90%;
  width: 90%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 950px) {

  .div-total{
    display: block;
  }

  .div-left{
    margin-left:0%;
    padding-left: 0%;
    border-left: none transparent 0px;
  }
  
}

// Button 

.a{
  color :#4DBAF4  ;
  text-decoration: none;
}

.a-title{
  font-size: 30px;
  margin-top: 10%;
}

.a-title:hover{
  color: #4cb9f4;
}

.a-white{
  color: white;
  transition: all 0.3s ease-in-out;
}

.a-white:hover{
  color: 	#4682B4;
}

.a-logout:hover{
    color:#c02645;   
}

.btn-title{
   background-color: none;
   border: 2px solid #4cb9f4;
   margin-bottom: 5%;
   transition: all 0.3s ease-in-out;
}

.btn-title:hover{
   background-color: #4cb9f42d;
}

.btn-blue{
   background-color: #4cb9f4;
}

.btn-pink{
   background-color: #FF7D97;
   margin-bottom: 10%
}

// Image 

.img-fluid{
  max-width: 400px;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .img-fluid{
    max-width: 290px;
  }
}

// Burger Menu for Devise session-view 

#menu__toggle {
   opacity: 0;
 }
 #menu__toggle:checked + .menu__btn > span {
   transform: rotate(45deg);
 }
 #menu__toggle:checked + .menu__btn > span::before {
   top: 0;
   transform: rotate(0deg);
 }
 #menu__toggle:checked + .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
 }
 #menu__toggle:checked ~ .menu__box {
   left: 0 !important;
 }
 .menu__btn {
   position: fixed;
   top: 20px;
   left: 20px;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
 }
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #96f3ff;
   transition-duration: .25s;
 }
 .menu__btn > span::before {
   content: '';
   top: -8px;
 }
 .menu__btn > span::after {
   content: '';
   top: 8px;
 }
 .menu__box {
   display: block;
   position: fixed;
   top: 0;
   left: -100%;
   width: 300px;
   height: 100%;
   margin: 0;
   padding: 80px 0;
   list-style: none;
   background-color: #ECEFF1;
   box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
   transition-duration: .25s;
 }
 .menu__item {
   display: block;
   padding: 12px 24px;
   color: #333;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
   transition-duration: .25s;
 }
 .menu__item:hover {
   background-color: #CFD8DC;
 }

